<?xml version="1.0" encoding="UTF-8"?>
<!-- Equivalente di .htaccess per i server IIS. -->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="MyHouse front controller" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="app" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
