<?xml version="1.0" encoding="UTF-8"?>
<!-- Niente di questa cartella si serve dal web (IIS). -->
<configuration>
  <system.webServer>
    <security>
      <authorization>
        <remove users="*" roles="" verbs="" />
        <add accessType="Deny" users="*" />
      </authorization>
    </security>
  </system.webServer>
</configuration>
